{% load i18n %}

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Will
            <span class="text-primary">Chiang</span>
        </h1>
        <div class="subheading mb-5">
            4F., No. 147, Mingcheng 1st Rd., Sanmin Dist., Kaohsiung City 807 , Taiwan (R.O.C.)・
            <a href="mailto:b41510@gmail.com">b41510@gmail.com</a>
        </div>
        <p class="lead mb-5">
            A software engineer who didn't want to go to a technology factory ヽ(●´∀`●)ﾉ . Have web development and back-end experience, enthusiasm for programming and data science, enjoy the process of problem solving.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://pda.104.com.tw/profile/edit?vno=75nav6zly" target="_blank"><i class="fas fa-briefcase"></i></a>
            <a class="social-icon" href="https://github.com/ChiangChienWei" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.instagram.com/will_ccw/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-facebook-f" target="_blank"></i></a>
        </div>
    </div>
</section>
