{% load i18n static %}

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Engineer</h3>
                <div class="subheading mb-3 mr-3">Streetvoice 街聲 - Packer 派歌</div>
                <p>．以 Django admin 為基礎建立 派歌 Packer 新管理後台，過程中持續優化介面以及功能</p>
                <p>．翻新 派歌 Packer 使用者介面</p>
                <p>．使用 github 進行 code review，建立良好的 coding style</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2019 - March 2021</span></div>
        </div>
    </div>
</section>
