{% load i18n static %}

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web development engineer</h3>
                <div class="subheading mb-3 mr-3">StreetVoice 街聲 - Packer 派歌</div>
                <p>Build Packer new backstage management system based on Django admin, continue to optimize the interface and functions during the project</p>
                <p>Refurbished Packer user interface.</p>
                <p>Use git for version control and github for code review, establish a good coding style</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Dec 2019 - Mar 2021</span></div>
        </div>
    </div>
</section>
