{% load i18n static %}

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">{% trans '工作經歷' %}</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{% trans '網頁開發工程師' %}</h3>
                <div class="subheading mb-3 mr-3">Streetvoice 街聲 - Packer 派歌</div>
                <p>{% trans '．以 Django admin 為基礎建立 派歌 Packer 新管理後台，過程中持續優化介面以及功能' %}</p>
                <p>{% trans '．翻新 派歌 Packer 使用者介面' %}</p>
                <p>{% trans '．使用 git 來做版本控管並利用 github 進行 code review，建立良好的 coding style' %}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{% trans '十二月' %} 2019 - {% trans '三月' %} 2021</span></div>
        </div>
    </div>
</section>
