{% load i18n %}

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-python" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-django" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-css" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-js-official" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-mysql" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="simple-icons:jquery" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-matlab" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="logos:pycharm" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-codecov" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-travis" data-inline="false"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Confirm requirements, Check layout.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Programming & Test cases.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Push to Github and use Travis ci run test cases.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                After the test is correct, merge development branch into the demo branch for auto deploy.
            </li>
        </ul>
    </div>
</section>
