{% load i18n %}

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-python" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-django" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-css" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-js-official" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-mysql" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="simple-icons:jquery" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-matlab" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="logos:pycharm" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-codecov" data-inline="false"></i></li>
            <li class="list-inline-item"><i class="iconify" data-icon="vscode-icons:file-type-travis" data-inline="false"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                確認需求以及切版樣式
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                開發程式，撰寫 test cases
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                開啟 Pull Request，進行 Code Review
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                將 Code Review 完的 Pull Request Merge 進 branch
            </li>
        </ul>
    </div>
</section>
